.sidebar {

    background-color: #2c3e50;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .sidebar button {
    background-color: #34495e;
    border: none;
    color: white;
    padding: 10px;
    text-align: left;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .sidebar button:hover {
    background-color: #1abc9c;
  }