<div class="main-content">
    <div class="settlement-name">
        <h3>{{settlementData()?.settlement ?? 'no settlement'}}</h3>
    </div>
      
</div>
<div class="town-specs">
    <dl>
      <div class="spec-item">
        <dt>Wind Speed</dt>
        <dd>{{ settlementData()?.windSpeed ?? '0' }} km/h</dd>
      </div>
      <div class="spec-item">
        <dt>Max Size</dt>
        <dd>{{ settlementData()?.maxSize ?? '0' }}</dd>
      </div>
    </dl>
  </div>

<div class=" position">
    <dl>
        <div class="spec-item">
            <dt>Continent</dt>
            <dd>{{settlementData()?.continent ?? 'n/a' }}</dd>
        </div>
        <div class="spec-item">
            <dt>Region</dt>
            <dd>{{settlementData()?.region ?? 'n/a' }}</dd>
        </div>
         <div class="spec-item">
            <dt>Area</dt>
            <dd>{{settlementData()?.area ?? 'n/a' }}</dd>
        </div>
    </dl>
</div>