<nav class="navbar">
  <img src="./backgroundImgs/AftermathLogoWeathered.png" alt="" class="logo">
  <img src="./backgroundImgs/StripesDarkHor.png" alt="Decorative background" class="bg-decor">
  
  <ul>
    <li class="element">
      <span>Metal</span>
      <img src="./backgroundImgs/Metal.png" alt="" class="iconImg">    
      {{ resources()?.metal }}
    </li>
       
    <li class="element">
      <span>Water</span>
      <img src="./backgroundImgs/Water.png" alt="" class="iconImg">
      {{ resources()?.water }}
      
    </li>

    <li class="element">
       <span>Oil</span>
       <img src="./backgroundImgs/Oil.png" alt="" class="iconImg">
      {{ resources()?.oil }}
     
    </li>

    <li class="element">
       <span>Energy</span>
       <img src="./backgroundImgs/Energy.png" alt="" class="iconImg">
      {{energy()}}
     
    </li>
      
    <li class="element">
      <span>Uranium</span>
      <img src="./backgroundImgs/Uranium.png" alt="" class="iconImg">
      {{ resources()?.uranium }}
      
    </li>

    
  </ul>
</nav>
