
<app-resources-bar class="resourcesBar" [resources]="resourcesForBar()"></app-resources-bar>
<div class="game-container">
  
    <app-dashboard class="dashboard" (selectedCategory)="selectedCategory = $event"
    (submenuItems)="submenuItems = $event"></app-dashboard>
  <div class="settlement-content">
    <app-main-window class="main-window" [settlementData]="currentSettlement()"></app-main-window>
  </div>
</div>
@if (selectedCategory) { 
  <div class="submenu-container">
    <app-submenu class="submenu" [submenuItems]="submenuItems" [title]="selectedCategory" (submenuItemClicked)="onSubmenuItemClicked($event)"></app-submenu>
  </div>
} 

@if(submenuItemClicked){
  <div class="upgrade-asset-window">
    <app-upgrade-assets-window (closeWindow)="onUpgradeWindowClosed()"></app-upgrade-assets-window>
  </div>
}


