.game-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr); /* 12 equal columns */
    grid-template-rows: 80%;  /* 80% for the remaining content */
    width: 100%;
    height: 75vh; /* Remaining height of the viewport after resourcesBar */
/*     z-index: -1; */
}
.submenu-container{
    z-index: 2; /* Ensure submenu is above other elements */
    grid-column: span 2; /* Span the first 2 columns */
}
.resourcesBar {
    grid-column: span 12; /* Span the full width of the grid */
    
}

.dashboard {
    grid-column: span 2;
    height: 100%;
}

.settlement-content {
    grid-column: span 10; /* This will take up 10 columns (10/12 of the screen) */
    height: 70vh;
    display: flex;
    justify-content: center; /* Optional: Center content inside the box */
    align-items: center; /* Optional: Vertically center content */
    position:relative;
    z-index: 0;
}


.upgrade-asset-window{
    z-index: 2;
    grid-column:span 10
}
